<footer class="footer">

    <div class="footer-top">
        <div class="footer-left">
            <div class="footer-logo">INMOBILIARIA</div>

            <h3 class="footer-title">SUSCRÍBETE PARA RECIBIR OFERTAS</h3>

            <!-- <div class="footer-subscribe">
                <input type="email" placeholder="Correo electrónico">
                <button class="subscribe-btn">›</button>
            </div> -->

            <div class="footer-social">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-tiktok"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>

        <div class="footer-column">
            <h4>TIENDA</h4>
            <ul>
                <li>dasdasdasdasdas</li>
                <li>sadasdasdas</li>
                <li>adasdasdasdsad</li>
            </ul>
        </div>

        <!-- DERECHA -->
        <div class="footer-column">
            <h4>INFO</h4>
            <ul>
                <li>CONTACTO</li>
                <li>VENDE TU CASA</li>

            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-legal">
            <p>© 2026, Inmo.</p>
            <div class="footer-links">
                <span>Política de privacidad</span>
                <span>•</span>
                <span>Política de reembolso</span>
                <span>•</span>
                <span>Términos del servicio</span>
                <span>•</span>
                <span>Política de envío</span>
                <span>•</span>
                <span>Información de contacto</span>
                <span>•</span>
                <span>Aviso legal</span>
            </div>
        </div>

        <div class="footer-payments">
            <img src="../assets/img/pagos.png" alt="Métodos de pago">
        </div>
    </div>

</footer>