    <header class="header">
        <nav class="nav">

            <!-- IZQUIERDA -->
            <div class="nav-left">
                <div class="logo">INMOBILIARIA</div>

                <ul class="nav-links">
                    <li>Casas</li>
                    <li>Contacto</li>
                </ul>
            </div>

            <!-- DERECHA -->
            <div class="nav-right">

                <ul class="menu" id="menu">
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="fas fa-shopping-cart"></i></li>
                </ul>

                <button class="toggle" id="toggleBtn">
                    ☰
                </button>

            </div>

        </nav>
    </header>